#main_wrapper
{
    width: 100%;
    margin: auto;	
}

#main_title
{
    display: inline-block;
}

body h1
{
	text-align:center;
}

body
{
	background-image: url("blood.png");
}

header
{
    background-color: #B94242 ;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
}

#content {
	font-family: 'BallparkWeiner', serif;
    font-size: 1.2em;
    font-weight: normal;
}

#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
	border-radius: 10px;
}

header h2
{
    font-family: Dayrom, serif;
    font-size: 1.5em;
    margin-top: 0px;
    font-weight: Bold;
	color: #494242;
}

aside
{
    position: absolute;
    width: 18%;
	height: 1150px;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
    color: white;
	border: 1px solid black;
}

aside h1
{
	text-align: center;
}

aside h3
{
	padding-left: 10px;
}

.b1
{
	position: relative;
	width: 78%;
	height: 100%;
	float: right;
}

.b2
{
	position: relative;
	width: 78%;
	height: 100%;
	float: right;
}

.b3
{
	position: relative;
	width: 78%;
	height: 100%;
	float: right;
}

.btnData
{
	background-color: grey;
	padding: 15px;
	border-radius: 12px;
	opacity: 0.8;
}

.btnData a
{
	text-decoration: none;
	color: black;
}

.btnUpdate
{
	background-color: green;
	padding: 8px;
	border-radius: 12px;
	color: white;
}

.btnDelete
{
	background-color: red;
	padding: 8px;
	border-radius: 12px;
	color: white;
	opacity: 0.8;
}

input[type=text], select
{
	border-radius: 5px;
	padding: 5px;
	
}


